body {
    background: url('https://plus.unsplash.com/premium_photo-1661627606440-a901eb9588c5?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 1.5rem;
}

.auth-links {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-end;
    gap: 10px; /* Space between items */
}

.welcome-text {

    margin-top: 11px;
    margin-right: 10px; /* Space between the welcome text and the logout button */
    font-size: 16px;
    color: #000;
}

.auth-links a {
    font-size: 16px;
    color: #007bff;
}

.auth-links a:hover {
    color: #0056b3;
}

#map {
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    #map {
        height: 300px;
    }
}

.highlight {
    background-color: #f8f9fa !important;
    border-left: 5px solid #007bff;
    padding: 10px;
    border-radius: 5px;
}

.marker-number {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-right: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

.marker-number:hover {
    color: #0056b3;
}

.score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: linear-gradient(145deg, #4CAF50, #388E3C);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.score-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#search-form {
    margin-bottom: 30px;
}

.list-group-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.list-group-item .item-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.list-group-item .item-details {
    font-size: 14px;
    color: #666;
}

.list-group-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.search-results-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.category-filter {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input, .form-group select, .btn-primary {
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
}

.form-group input {
    padding-left: 15px;
}

.text-right {
    text-align: right;
}

.btn {
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

@media (max-width: 768px) {
    .list-group-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-group-item img {
        margin-bottom: 10px;
    }

    #content {
        margin-top: 20px;
        padding: 15px;
    }

    .auth-links {
        justify-content: center;
        margin-bottom: 20px;
    }
}
